* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#jumbotron{
    background-image:url(img/jumbo.png) ;
    width: 100%;
    height: 500px;
    background-size: cover;
    position: relative;
}

.container-center{
    width: 50%;
    margin: 0 auto;
    /* debug */
    /* background-color: tomato; */
    height: 50px;
}

.center{
    text-align: center;
    line-height: 2;
}

#main-nav li{
    font-size: 15px;
    padding: 10px;
    display: inline-block;
    margin-left: 50px;

}

div nav li a {
    color:white;
    text-decoration: none;
    
}

.center{
    /* background-color: white; */
    color: white;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo{
    position: absolute;
    top:0;
    left: 150px;

}

#titolo{
    font-size: 50px;
}

.accedi{
    font-size: 20px;
    padding: 5px;
    border-radius:50px;
    position: absolute;
    top: 5%;
    right: 10%;
    transform: translate(-50%, -50%);
}

.span{
    text-align: center;
}

.button button{
    font-size: 20px;
    padding: 5px;
    border-radius:50px;
    position: absolute;
    bottom: 20%;
    right: 50%;
    transform: translate(-50%, -50%);
}

#scarica{
    right: 20%;
    color: white;
    background-color: black;
}

.sezione{
    /* debug */
    width: 100%;
    height: 800px;
    background-color:red;
    border: solid 2px black;

}

.container-foot{
    position: relative;
    width: 100%;
    height: 600px;
    background-color:rgba(35,39,42,255);
}

.text-foot{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    background-color: blueviolet;
}

#second{
    float: right;
    padding: 30px;

}

#color{
    color:rgba(142,161,225,255);
}

div nav li a {
    text-decoration: none;
}

.hr{
    margin: 250px auto;
    width: 90%;
    border: 1px solid rgba(142,161,225,255);
}

#logo-1{
    position: absolute;
    bottom: 5%;
    left: 100px;
}

.prova {
    font-size: 20px;
    padding: 5px;
    border-radius:50px;
    position: absolute;
    top: 90%;
    right: 7%;
    transform: translate(-50%, -50%);
}

.aside{
    padding: 30px;
    font-size: 25px;
    float: right;
    margin-top:5px;
}

#fab{
    font-size: 20px;
    color:white;
   
    
}

#fab li i{
    text-decoration: none;

}

